.card{
    width: 300px;
    height:350px;
    background-color:#05F8FF ;
    border-radius:50px;
    margin:10px;
}

.card:hover {
    width: 310px;
    height:360px;
    background-color:#0AFFBE ;
    border-radius:50px;
}

.photo {
   height: 30%;
   padding: 20px;
   margin:20px;
}
.info {
   padding: 20px;
   height: 40%;
}
img {
   position: relative;
   left:9%;
   border-radius: 50px;
}
.name {
    font-weight: bold;
}
.text {
    color: #617268;
}